.row{
    padding: 20px;
}
div{
    background-color: #30c977;
}
h1, h3{
    display: inline;
}
img{
    width: 80px;
    border-radius: 10%;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.781);
}
#servitambo{
    width: 120px;
}