<div class="row">
    <h1>EXPERIENCIA LABORAL</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <div class="col-lg-11">
                    <img src="../../../assets/Megatone.jpg" id="megatone">
                </div>
                <h1>Megatone Rafaela</h1> - 
                <h3>6 Meses</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptas optio vel, voluptate aut, nam sed laboriosam aliquid ut consequatur iste quibusdam a. Optio delectus voluptas provident ex explicabo expedita.
            </p>
        </ul>
        <ul>
            <li>
                <div class="col-lg-11">
                    <img src="../../../assets/FactorIQ.png" id="factoriq">
                </div>
                <h1>Factor IQ</h1> - 
                <h3>2 años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptas optio vel, voluptate aut, nam sed laboriosam aliquid ut consequatur iste quibusdam a. Optio delectus voluptas provident ex explicabo expedita.
            </p>
        </ul>
        <ul>
            <li>
                <div class="col-lg-11">
                    <img src="../../../assets/SancorSeguros.png" id="sancorseguros">
                </div>
                <h1>Sancor Seguros</h1> - 
                <h3>5 años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptas optio vel, voluptate aut, nam sed laboriosam aliquid ut consequatur iste quibusdam a. Optio delectus voluptas provident ex explicabo expedita.
            </p>
        </ul>
        <ul>
            <li>
                <div class="col-lg-11">
                    <img src="../../../assets/Servitambo.jpg" id="servitambo">
                </div>
                <h1>Servitambo SRL</h1> - 
                <h3>Actualidad</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptas optio vel, voluptate aut, nam sed laboriosam aliquid ut consequatur iste quibusdam a. Optio delectus voluptas provident ex explicabo expedita.
            </p>
        </ul>
    </div>
</div>
