<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="25"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'grey'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78c000'"
            [innerStrokeColor]="'#c7e596'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="25"
            [radius]="80"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'grey'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78c000'"
            [innerStrokeColor]="'#c7e596'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="15"
            [radius]="80"
            [showUnits]="false"
            [title]="'JS'"
            [titleColor]="'grey'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78c000'"
            [innerStrokeColor]="'#c7e596'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'Ingles'"
            [titleColor]="'grey'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78c000'"
            [innerStrokeColor]="'#c7e596'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>
