<div class="row">
    <div class="col-lg-11">
        <h1>Educacion </h1>
        <button title= "Nueva educacion" type="button" class="btn btn-secondary" routerLink="/nuevaedu" *ngIf="isLogged">
            <i class="bi bi-plus-lg"> </i>
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of edu">
                    <td>
                        <h2>{{Educacion.nombreEd}}</h2>
                    </td>
                    <td>{{Educacion.descripcionEd}}</td>
                    <td>{{Educacion.estadoEd}}</td>
                    <td *ngIf="isLogged">
                        <button title= "Editar educacion" class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button title= "Eliminar educacion" class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- CODIGO DE LA MAQUETA AL INICIO DEL PROYECTO
<div class="row">
    <h1>EDUCACION</h1>
    <div class="col-lg-1">     </div>
    <div class="col-lg-10">
        <ul>
            <li>
                <div class="col-lg-11">
                    <img src="../../../assets/SanJose.jpg" id="sanjose">
                </div>
                <h1>Escuela de enseñanza media San Jose</h1> - 
                <h3>Primaria Completa</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptas optio vel, voluptate aut, nam sed laboriosam aliquid ut consequatur iste quibusdam a. Optio delectus voluptas provident ex explicabo expedita.
            </p>
        </ul>
        <ul>
            <li>
                <div class="col-lg-11">
                    <img src="../../../assets/SanJose.jpg" id="sanjose">
                </div>
                <h1>Escuela de enseñanza media San Jose</h1> - 
                <h3>Secundaria Completa</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptas optio vel, voluptate aut, nam sed laboriosam aliquid ut consequatur iste quibusdam a. Optio delectus voluptas provident ex explicabo expedita.
            </p>
        </ul>
        <ul>
            <li>
                <div class="col-lg-11">
                    <img src="../../../assets/UCSE.jpg" id="ucse">
                </div>
                <h1>Univ. Catolica de Stgo del Estero DAR</h1> - 
                <h3>Ingeniero en Computacion </h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, voluptas optio vel, voluptate aut, nam sed laboriosam aliquid ut consequatur iste quibusdam a. Optio delectus voluptas provident ex explicabo expedita.
            </p>
        </ul>
    </div>
</div>
-->

